/*=========================================
        MOBILE HEADER
=========================================*/

@media (max-width:768px){

.container{

    width:92%;

}

.header{

    padding:10px 0;

}

.header-container{

    height:80px;

}

/* Logo */

.logo img{

    width:68px;

    height:68px;

}

.logo-text h2{

    font-size:1.35rem;

}

.logo-text span{

    display:none;

}

/* Hide Order Button */

.btn-order{

    display:none;

}

/* WhatsApp */

.icon-btn img{

    width:140pxpx;
    font-size: 10px;

    height:140px;

}
.icon-btn{
    width: 60px;
    height: 60px;
}

/* Hamburger */

.mobile-menu-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    width:46px;

    height:46px;

    border:none;

    background:#fff;

    border-radius:12px;

    cursor:pointer;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.mobile-menu-btn i{

    font-size:22px;

    color:var(--primary);

}

/* ===========================
        MOBILE NAVBAR
=========================== */

.navbar{

    position:fixed;

    top:80px;

    left:-100%;

    width:100%;

    height:calc(100vh - 80px);

    background:white;

    transition:.35s ease;

    display:flex;

    justify-content:flex-start;

    align-items:flex-start;

    padding-top:40px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    z-index:998;

}

/* OPEN */

.navbar.active{

    left:0;

}

/* Links */

.nav-links{

    width:100%;

    flex-direction:column;

    align-items:center;

    gap:30px;

}

.nav-links li{

    width:100%;

    text-align:center;

}

.nav-links a{

    display:block;

    width:100%;

    padding:12px 0;

    font-size:1.15rem;

}

body.menu-open{

    overflow:hidden;

}

}