<header class="header" id="header">

    <div class="container header-container">
        

        <!-- Logo -->

        <a href="index.html" class="logo">

            <img
                src="assets/logo/Make_image_clear_upscale_2K_202607261051.jpeg"
                alt="Dream Bakers">

            <div class="logo-text">

                <h2>Dream Bakerz</h2>

                <span>Fresh • Custom • Delicious</span>

            </div>

        </a>

        <!-- Navigation -->

        <nav class="navbar" id="navbar">

            <ul class="nav-links">

                <li><a href="index.html">Home</a></li>

                <li><a href="catalog.html">Gallery</a></li>

                <li><a href="about.html">About</a></li>

                <li><a href="contact.html">Contact</a></li>

            </ul>

        </nav>

        <!-- Right Side -->

        <div class="header-right">

            <a
                href="https://wa.me/923477268670"
                class="icon-btn whatsapp-btn"
                target="_blank">

                <img
                    src="assets/icons/svg/whatsapp-svgrepo-com.svg"
                    alt="WhatsApp">

            </a>

            <a href="order.html" class="btn-order">

                Order Now

            </a>

            <button
                class="mobile-menu-btn"
                id="menuToggle"
                aria-label="Open Menu">

                <i class="fa-solid fa-bars"><img src="assets/icons/svg/Menu-Open--Streamline-Outlined-Streamline-Material-Free.svg" alt=""></i>

            </button>

        </div>

    </div>

</header>